
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,100italic,100,500,500italic,700,700italic,900,900italic);

body,
html {
                width: 100%;
                height: 100%;
                margin: 0 auto;
                padding: 0 !important;
                font-family: 'Roboto', sans-serif;

                .btn-danger{
                                background-color: darkgreen;
                                border: 0;
                                height: 50px;
                                width: 100px;

                    @media screen and (max-width: $screen-xs-max) {

                        width: 84px;
                    }
                }

                a{
                                                color: white;
                                }

}


.findHealer {
                background: url("../images/BG.jpg") no-repeat center center;
                background-size: cover;
                    padding-bottom: 14%;

}



.navbar{
        background: url("../images/logo.png") no-repeat center left #88D843;
        background: cover;


        @media screen and (max-width: $screen-xs-max) {
                        background: none;
        }

    ul{
        float: right;
       @media screen and (max-width: $screen-xs-max) {
            text-align: center;
            margin-right: 73px;

        }

        li{
            @media screen and (max-width: $screen-xs-max) {
                margin-bottom: 10px;
            }


        }
    }
}



//message
.message{
        margin: 3px 0 -1px;
        color: #f00;
        min-height: 18px;
        height: 18px;
        font-size: 12px;
}

//navbar menu
.navbar-inverse {
                background-color: #319b37;
                border: none;
                //navbar content
                .navbar-nav {
                                ul{
                                        float: right;
                                 @media screen and (max-width: $screen-xs-max) {
                                                text-align: center;
                                                }

                                                li {
                                                    @media screen and (max-width: $screen-xs-max) {
                                                        text-align: center;
                                                        }
                                                                a {

                                                                }
                                                }
                                }

                }
                .signout {


                                 @media screen and (max-width: $screen-xs-max) {
                                                margin-left: 36px;
                                                margin-top: -28px;
                                }
                }
}


.navbar-collapse.collapse.in {

         @media screen and (max-width: $screen-xs-max) {
                         margin-top: 15px;
                }
}

.navbar-inverse .navbar-nav > li > a {
                color: white;
                font-size: 24px;
                margin-top: 33px;

                @media screen and (max-width: $screen-xs-max) {
                                text-align: center;
                                color: green;
                                padding-bottom: 0;
                                font-size: 20px;
                                margin-top: -3px;

                    &:active{

                    }


                }
}

@media screen and (max-width: $screen-xs-max) {
        .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
            color: #fff;
            background-color: transparent !important;
        }
}

//bgMenu
.bgMenu{
        background-color: #319b37;
        width: 100%;
        margin-bottom: 40px;

    @media screen and (max-width: $screen-xs-max) {
        margin-bottom: 0;
        background-color: none;
    }




}





//image mobile

.navbar-brand{
        padding: 5px 15px;



img {


        @media screen and (max-width: $screen-xs-max) {
                                display: block;
                                height: 50px;
                                width: 100px;
                }
}
}



.navbar-toggle .icon-bar {
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 22px;
    border: 1px solid #ccc;
}

.navbar-toggle {
    background-color: transparent;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    float: right;
    margin-bottom: 8px;
    margin-right: 15px;
    margin-top: 8px;
    padding: 9px 10px;
    position: relative;


    @media screen and (max-width: $screen-xs-max) {
        margin-right: 30px;
    }
}


//footer
footer{
    margin-top: 10px;
                p{
                        background-color: #319b37;
                        font-size: 16px;
                        text-align: center;
                        color: white;
                        padding: 33px 0 16px;
                        margin-top: -10px;



                }
        }


//healerTop
.topUser{
    margin-bottom: -27px;
    padding-top: 28px;
    float: right;




    @media screen and (max-width: $screen-xs-max) {
        padding-top: 0px;
        margin-bottom: 0;
        margin-right: 15px;
    }
}






